@model DanielaMora_Examen.Models.DM_tabla1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DM_tabla1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DM_Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DM_Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DM_Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DM_Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DM_CuentaAhorro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DM_CuentaAhorro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DM_CuentaCorriente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DM_CuentaCorriente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DM_CitaConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DM_CitaConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DM_DineroDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DM_DineroDisponible)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
