@model IEnumerable<DanielaMora_Examen.Models.DM_tabla1>

@{
    ViewData["Title"] = "TABLA DE CLIENTES";
}

<h1>Asignación de Clientes</h1>

<p>
    <a asp-action="Create">Asigna un cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DM_Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DM_Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DM_CuentaAhorro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DM_CuentaCorriente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DM_CitaConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DM_DineroDisponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DM_Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DM_Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DM_CuentaAhorro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DM_CuentaCorriente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DM_CitaConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DM_DineroDisponible)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDm">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDm">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDm">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
