@model IEnumerable<DanielaMora_Examen.Models.DM_tabla1>

@{
    ViewData["Title"] = "Registro de Clientes";
}

<h1>Registro De Clientes y Asignación de </h1>

<p>
    <a asp-action="Asignar Citas">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaAhorro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaCorriente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitaConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DineroDisponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaAhorro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaCorriente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitaConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DineroDisponible)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
